/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

body {
    margin: 20px;
    background-color: #F6F8FD ;
  }

.main-layout {
  position: relative;
  margin-top: 40px;
  margin-left: 300px;
}

.clear {
  clear: both;
}

.space {
  margin-bottom: 10px;
}